$black-bkg: #222222;
$pink-bkg: #F1E4E6;
$pink-color: #F18B99;
$sales-bkg: #4e4544;
$footer-text: #FBFBFB;
$price-color: #F16D7F;
$border-color: #F16D7F;
$sub-title-color: #9F9F9F;
$white-color-active: #CEB293;
$white-color: #FBFBFB;
$white-color-hover: #2FAB3d;
$nav-color: #FBFBFB;
$item-text-color: #FFFFFF;
$border--product:#FF6A6A;
$footer-text-section1: white;
$button-color: #F16D7F;