.brand {
    display: flex;
}

.brand__img {
    width: 800px;
    height: 765px;
}

.brand__titel-wrp {
    flex-grow: 1;
    background-color: $pink-bkg;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__titel {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    border-left: 10px solid $border-color;
    padding-left: 15px;
    position: relative;
}

.brand__titel-lower {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__title-pink {
    color: $pink-color;
}