.footer__medium--content {
    display: flex;
    justify-content: space-around;
    background-image: url(./img/footer_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.footer__medium--contact {
    display: flex;
    list-style-type: none;
}

.footer__medium--contact--woman {
    text-align: center;
    margin-top: 86px;
}

.footer__medium--text {
    font-size: 20px;
    margin-bottom: 126px;
    padding-top: 25px;
}

.footer__medium--text-italic {
    font-style: italic;
}

.foote__medium-input {
    position: relative;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 15px solid white;
    width: 250px;
}

.footer__medium-button {
    position: absolute;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 15px solid #E05C6E;
}

.footer__medium--title {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.footer__medium--sub-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-bottom: 32px;
}

.footer__medium-wrp {
    display: flex;
    flex-direction: column;
    width: 360px;
    min-height: 448px;
    justify-content: center;
}

.footer__medium--wrp-form-email {
    width: 256px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px 0 0 25px;
    border: none;
    background-color: #E1E1E1;
    padding-left: 22px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.footer__medium--wrp-form-email:hover {
    border: 1px solid blue;
}

.footer__medium--wrp-form-email:focus {
    outline: 1px solid pink;
}

.footer__medium--wrp-form-button {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0 25px 25px 0;
    border: none;
    background-color: $pink-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: white;
    cursor: pointer;
}

.footer__medium--wrp-form-button:hover,
.footer__medium--wrp-form-button:focus {
    background: #FF6A6A;
    color: white;
}