.nav__color {
    color: none;
}

.nav__color:hover,
.nav__color:focus {
    color: darkgoldenrod;
}

.nav-item__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-bottom: 14px;
    margin-top: 24px;
}

.nav-item__list {
    list-style-type: none;
    text-transform: lowercase;
    text-transform: capitalize;
}

.nav-item__item {
    margin-bottom: 11px;
    margin-left: 55px;
}

.nav-item__list:hover {
    color: red;
}