.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 65px;
}

.sales__item {
    height: 260px;
    width: 360px;
    background-color: $sales-bkg;
}

a {
    text-decoration: none;
}

.sales__item--size {
    height: 180px;
    width: 1140px;
    background-color: $sales-bkg;
}

.sales__item-text {
    font-size: 16px;
    color: $item-text-color;
    margin-top: 105px;
    text-transform: uppercase;
}

.sales__item-text2 {
    font-size: 16px;
    color: $item-text-color;
    text-transform: uppercase;
    margin-top: 65px;
}

.sales__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 0px;
    text-align: center;
    text-transform: uppercase;
    color: $pink-color;
    text-decoration: none;
    margin-top: 20px;
}

.sales__item--women {
    background-image: url(./img/for_woman.jpg);
    text-align: center;
}

.sales__item--men {
    background-image: url(./img/for_man.jpg);
    text-align: center;
}

.sales__item--kids {
    background-image: url(./img/for_kids.jpg);
    text-align: center;
}

.sales__item--accesories {
    background-image: url(./img/accesories.jpg);
    text-align: center;
    margin-top: 30px;
}