.services {
    background-color: $black-bkg;
}

.services__list {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
}

.services__icon--img {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 28px;
}

.services__delivery,
.services__discount,
.services__quality {
    margin-bottom: 104px;
    font-size: 20px;
}

.services__delivery--title,
.services__discount--title,
.services__quality--title {
    color: $footer-text-section1;
    margin-bottom: 16px;
}

.services__delivery--text,
.services__discount--text,
.services__quality--text {
    color: $footer-text-section1;
    font-size: 14px;
}